<div class="container">
    
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Perfume1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Caballero The Boss Scent</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas al recibir el producto.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1?text=Hola quiero informacion de los perfumes" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Perfume2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Caballero Eros Flame Versalle</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas al recibir el producto.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Perfume3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Caballero Bleu By Chanel</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas al recibir el producto.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Perfume4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Dama Light Blue By Dolce Gabbana</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas al recibir el producto.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Perfume5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Caballero Bad Boy</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas al recibir el producto.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    
</div>
