<div class="container">
    
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Foto2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Caballero Bad Boy</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas el producto al recibir.</p>
          <p class="card-text">Domicilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/Foto3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume de Dama Amor Amor</h5>
          <p class="card-text">$15.000</p>
          <p class="card-text">Pagas el producto al recibir.</p>
          <p class="card-text">Domocilio Gratis.</p>
          <a href="https://wa.me/qr/SZHH7H7EUIEOM1" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  

</div>
