<div id="app">
  <section class="py-12 bg-blue-50">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-6 text-gray-800">Nuestros Perfumes</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Tarjeta de Producto 1 -->
        <div class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105 p-4 max-w-xs mx-auto">
          <img src="../../assets/PerfumeTheBoosScent.jpeg" alt="Producto 1" class="h-32 w-full object-cover rounded mb-2">
          <h3 class="text-lg font-semibold text-gray-800 mb-1">Perfume de Caballeros The Boss Scent</h3>
          <span class="text-green-500 font-semibold">Disponible</span>
          <p class="text-lg font-bold text-gray-800 mt-1">$15.000</p>
          <p class="text-sm text-gray-500">Envío gratis</p>
          <p class="text-sm text-gray-500">Pago contra entrega</p>
          <a href="https://wa.me/573007098560?text=Hola, me interesa el Perfume de Caballero The Boss Scent, ¿Está disponible?">
            <button class="mt-4 w-full bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600 transition duration-300">Comprar</button>
          </a>
        </div>

        <!-- Tarjeta de Producto 2 -->
        <div class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105 p-4 max-w-xs mx-auto">
          <img src="../../assets/PerfumeGoogGirl.jpeg" alt="Producto 2" class="h-32 w-full object-cover rounded mb-2">
          <h3 class="text-lg font-semibold text-gray-800 mb-1">Perfume de Dama Good Girl</h3>
          <span class="text-green-500 font-semibold">Disponible</span>
          <p class="text-lg font-bold text-gray-800 mt-1">$15.000</p>
          <p class="text-sm text-gray-500">Envío gratis</p>
          <p class="text-sm text-gray-500">Pago contra entrega</p>
          <a href="https://wa.me/573007098560?text=Hola, me interesa el Perfume de Dama Good Girl, ¿Está disponible?">
            <button class="mt-4 w-full bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600 transition duration-300">Comprar</button>
          </a>
        </div>

        <!-- Tarjeta de Producto 3 -->
        <div class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105 p-4 max-w-xs mx-auto">
          <img src="../../assets/PerfumeFlameVersace.jpeg" alt="Producto 3" class="h-32 w-full object-cover rounded mb-2">
          <h3 class="text-lg font-semibold text-gray-800 mb-1">Perfume de Caballeros Eros Flame Versace</h3>
          <span class="text-green-500 font-semibold">Disponible</span>
          <p class="text-lg font-bold text-gray-800 mt-1">$15.000</p>
          <p class="text-sm text-gray-500">Envío gratis</p>
          <p class="text-sm text-gray-500">Pago contra entrega</p>
          <a href="https://wa.me/573007098560?text=Hola, me interesa el Perfume de caballero de Eros Flame Versace, ¿Está disponible?">
            <button class="mt-4 w-full bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600 transition duration-300">Comprar</button>
          </a>
        </div>

        <!-- Tarjeta de Producto 4 -->
        <div class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105 p-4 max-w-xs mx-auto">
          <img src="../../assets/PerfumeBleuByChanel.jpeg" alt="Producto 4" class="h-32 w-full object-cover rounded mb-2">
          <h3 class="text-lg font-semibold text-gray-800 mb-1">Perfume de Caballeros Bleu By Chanel</h3>
          <span class="text-green-500 font-semibold">Disponible</span>
          <p class="text-lg font-bold text-gray-800 mt-1">$15.000</p>
          <p class="text-sm text-gray-500">Envío gratis</p>
          <p class="text-sm text-gray-500">Pago contra entrega</p>
          <a href="https://wa.me/573007098560?text=Hola, me interesa el Perfume de caballero Bleu By Chanel, ¿Está disponible?">
            <button class="mt-4 w-full bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600 transition duration-300">Comprar</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
