<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fragancias AD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [ngClass]="{active: menu == 'inicio'}" (click)="Opcion('inicio')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="perfumes" [ngClass]="{active: menu == 'perfumes'}" (click)="Opcion('perfumes')">Perfumes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="informacion" [ngClass]="{active: menu == 'informacion'}" (click)="Opcion('informacion')">¿Quiénes somos?</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


<router-outlet />
