img{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    
    
}

.container{
    text-align: center;
}

p {
    margin-top: -20px;
}

h5{
    margin-top: 500px;
}